@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



.facebook-page {
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}

    .facebook-page .text {
        margin-top: 35px;
        margin-left: 20px
    }

    .facebook-page h1 {
        color: #1877f2;
        font-size: 4rem;
        margin-bottom: 10px;
    }

    .facebook-page p {
        font-size: 1.75rem;
        white-space: nowrap;
    }


#d2 {
    background: #f0f2f5;
    height: 500px;
    width: 320px;
    border: 0.5;
    align-content: center;
    margin: 0 auto 5px auto;
    border-radius: 5px;
    box-sizing: border-box; /* so that if padding APPLIED HERE THEN box size will not change*/
    box-shadow: 5px 10px 18px #888888;
}

#ad2 {
    /* border: solid black; */
    width: 319px;
    height: 50px;
    box-sizing: border-box;
    padding-top: 6px;
}

#bd2 {
    /* border: solid black; */
    width: 300px;
    height: 325px;
    margin: 30px auto 50px auto;
    box-sizing: border-box;
    /* overflow:auto; */
}

#d3 {
    /* border: solid black; */
    height: 60;
}

#form_heading {
    font-size: 25px;
    line-height: 32px;
    /* font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif; */
    font-weight: 600; /* Bold */
    text-align: center;
    /* zoom: 1; */
}


    /* The actual popup (appears on top) */
    .popup .popuptext {
        visibility: hidden;
        width: 400px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        margin-left: -203px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Toggle this class when clicking on the popup container (hide and show the popup) */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s
    }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
